button:focus {
    outline: none;
}
body {
    position: relative;
    min-height: 100vh;
    margin: 0;
    padding: 80px 0;
    color: #161a20;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to top left, #2227ae, #5b4fc6);
    box-sizing: border-box;
}
.reg-form {
    width: 450px;
    min-height: 600px;
    padding: 30px 30px 60px;
    margin: auto;
    border-radius: 6px;
    background: #fff;
    box-shadow: 0 10px 20px rgba(24,0,0,0);
    box-sizing: border-box;
}
.form-group {
    position: relative;
    margin-bottom: 25px;
}
.required::after {
    content: '*';
    position: absolute;
    right: 0;
    bottom: 10px;
    display: block;
    color: red;
    font-size: 24px;
    font-weight: bold;
}
.title {
    margin: 0 0 40px;
    font-size: 26px;
    font-weight: bold;
    line-height: 1.15;
}
.form-item {
    width: 92%;
    padding: 18px 20px;
    margin-right: 15px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 6px;
    border: 1px solid #b0b7be;
    box-sizing: border-box;
}
.form-item:focus {
    outline: none;
    border: 1px solid #5B4FC6;
    box-shadow: 0 0 1px #5B4FC6;
}
.form-label {
    display: block;
    margin-bottom: 10px;
    margin-left: 5px;
    font-size: 16px;
    font-weight: 500;
}
.error {
    border: 1px solid red;
}
.error ~ .error__text {
    display: block;
}
.error__text {
    display: none;
    position: absolute;
    margin: 5px 0;
    color: red;
    font-size: 11px;
}
.add-phone__text {
    margin-bottom: 22px;
}
.add-phone__btn {
    display: inline-block;
    vertical-align: middle;
    width: 38px;
    height: 38px;
    margin-left: 10px;
    cursor: pointer;
    font-size: 24px;
    color: #161a20;
    border-radius: 6px;
    border: 1px solid #b0b7be;
    background-color: #fff;
}
.add-phone__btn:active {
    border: 2px solid #b0b7be;
}
.main__button {
    display: block;
    border-radius: 100px;
    width: 300px;
    height: 58px;
    margin: auto;
    font-size: 16px;
    line-height: 1.75;
    cursor: pointer;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    background: #FFC638;
}
.main__button:hover {
    background: #ffd347;
}
.main__button:focus {
    outline: none;
}
.main__button:active {
    background: #B48100;

}
.modal__block-page {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}
.modal__box {
    position: fixed;
    top: 60px;
    left: 0;
    right: 0;
    display: block;
    width: 300px;
    padding: 40px 20px;
    margin: auto;
    border-radius: 6px;
    background: #fff;
}
.modal__box .title {
    font-size: 22px;
}
.close__btn {
    position: absolute;
    right: 15px;
    top: 10px;
    padding: 0;
    border: 0;
    font-size: 30px;
    color: #a0a0a0;
    cursor: pointer;
    background: none;
    transform: rotate(45deg);
}
.close__btn:hover {
    color: #787878;
}
.close__btn:focus {
    color: #000000;
}
.option {
    margin-bottom: 10px;
}
.option__name {
    margin-right: 6px;
    font-weight: bold;
}